---
title:

# sarca: A barrier within or with its surrounding
sarca:
  - image: /uploads/678d5012ec718640ffff5c88c18766bf.png
    caption:
  - image: /uploads/36243b3ac82380c9a5a39c429e46b2b6.jpg
    caption:
  - image: /uploads/1a3bd5f5cb3c5e3dd3774c1f4ab49856.jpg
    caption:
  - image: /uploads/9d3292f187d74583a687d3c5020b8672.png
    caption:
  - image: /uploads/1d39edb2d08dee1ad8c86e87b9e90125.JPG
    caption:

# demoux: A transition where the barrier is crossed, revealed or transformed
demoux:
  - image: /uploads/c925c19c363fd295d3fa219fd1fbab1e.jpg
    caption:
  - image: /uploads/257e98d25788d04b947c6df693cb150a.jpg
    caption:
  - image: /uploads/67c3a066e6cc324b4f2ae363e14ce786.jpg
    caption:
  - image: /uploads/2bd0ea79ee379f67d202b7acfe197be5.jpg
    caption:
  - image: /uploads/2510151f0b6b0c96a3008d0f7d87ed7c.jpg
    caption:
  - image: /uploads/d7d1483819f1fef1e6f00b6d4abf2686.jpg
    caption:
  - image: /uploads/2ce7f07a753518aaf36cfa7f8fb84de5.jpg
    caption:

# plexus: An observation of the barrier and its surroundings
plexus:
  - image: /uploads/3d299af1c3198c884256e1fe8e80cc3a.jpg
    caption:
  - image: /uploads/c6ffad767964c953dbd52056443639c0.jpg
    caption:
  - image: /uploads/f17fe95fd3cc40c494a41aa6e7393b17.jpg
    caption:
  - image: /uploads/baa21d8c0798894b22fc712455a8c023.jpg
    caption:
  - image: /uploads/9c2f5026696e9975ebc7fbd57afadeda.png
    caption:
  - image: /uploads/4b267489ef2792557d94404e755bbd72.jpg
    caption:
  - image: /uploads/1baa34bfe93b617b97d610f554e0c4ee.jpg
    caption:

# delores: A final state of a being or a limbo
delores:
  - image: /uploads/f206ac34e597f6201974200147a6e4c1.jpg
    caption:
  - image: /uploads/8bd74fa72f102623d5dbd4e051a21766.jpg
    caption:
  - image: /uploads/d25c13f118d2c8bcd493e0b01872d169.jpg
    caption:
  - image: /uploads/4586d5aad92ea4f85f405f2becc69ae6.jpg
    caption:
  - image: /uploads/29207cfbf08f74fa2d55971cec5dd34a.jpg
    caption:
  - image: /uploads/0b3d7e1961690ae7fa721f37b529d571.jpg
    caption:
  - image: /uploads/bcea985067e73a74bb6c4c3521769d69.jpg
    caption:


photos_fine_art:  
  - image: /uploads/678d5012ec718640ffff5c88c18766bf.png
    caption:
  - image: /uploads/36243b3ac82380c9a5a39c429e46b2b6.jpg
    caption:
  - image: /uploads/1a3bd5f5cb3c5e3dd3774c1f4ab49856.jpg
    caption:
  - image: /uploads/9d3292f187d74583a687d3c5020b8672.png
    caption:
  - image: /uploads/1d39edb2d08dee1ad8c86e87b9e90125.JPG
    caption:
  - image: /uploads/c925c19c363fd295d3fa219fd1fbab1e.jpg
    caption:
  - image: /uploads/257e98d25788d04b947c6df693cb150a.jpg
    caption:
  - image: /uploads/67c3a066e6cc324b4f2ae363e14ce786.jpg
    caption:
  - image: /uploads/2bd0ea79ee379f67d202b7acfe197be5.jpg
    caption:
  - image: /uploads/3d299af1c3198c884256e1fe8e80cc3a.jpg
    caption:
  - image: /uploads/d7d1483819f1fef1e6f00b6d4abf2686.jpg
    caption:
  - image: /uploads/c6ffad767964c953dbd52056443639c0.jpg
    caption:
  - image: /uploads/f17fe95fd3cc40c494a41aa6e7393b17.jpg
    caption:
  - image: /uploads/baa21d8c0798894b22fc712455a8c023.jpg
    caption:
  - image: /uploads/9c2f5026696e9975ebc7fbd57afadeda.png
    caption:
  - image: /uploads/2ce7f07a753518aaf36cfa7f8fb84de5.jpg
    caption:
  - image: /uploads/4b267489ef2792557d94404e755bbd72.jpg
    caption:
  - image: /uploads/f206ac34e597f6201974200147a6e4c1.jpg
    caption:
  - image: /uploads/8bd74fa72f102623d5dbd4e051a21766.jpg
    caption:
  - image: /uploads/1baa34bfe93b617b97d610f554e0c4ee.jpg
    caption:
  - image: /uploads/d25c13f118d2c8bcd493e0b01872d169.jpg
    caption:
  - image: /uploads/4586d5aad92ea4f85f405f2becc69ae6.jpg
    caption:
  - image: /uploads/29207cfbf08f74fa2d55971cec5dd34a.jpg
    caption:
  - image: /uploads/2510151f0b6b0c96a3008d0f7d87ed7c.jpg
    caption:
  - image: /uploads/0b3d7e1961690ae7fa721f37b529d571.jpg
    caption:

photos_cinematic:
  - image: /uploads/9c76f47e2c127a7db031b2ba087f723d.jpg
    caption:
  - image: /uploads/29207cfbf08f74fa2d55971cec5dd34a.jpg
    caption:
  - image: /uploads/52c855a67b54506fc2a625d73f09abb2.jpg
    caption:
  - image: /uploads/a816a50f984a938228edcbefac8aea19.jpg
    caption:
  - image: /uploads/14acb1742cabd78e447cef3911458d4e.jpg
    caption:
  - image: /uploads/10c117d50b43bd19cc3df6829cb31e1a.jpg
    caption:
  - image: /uploads/f9e9071b1d93627042f2afd263cc2195.jpg
    caption:
  - image: /uploads/f73f616e7364afca41b2438bb8385a2c.JPG
    caption:
  - image: /uploads/4586d5aad92ea4f85f405f2becc69ae6.jpg
    caption:
  - image: /uploads/aee570da4d1271827632971fafc7f9e6.jpg
    caption:
  - image: /uploads/810c636dd759029213c86f9f4f580392.jpg
    caption:
  - image: /uploads/19df2454d2781204622cb9686c2f0fe0.jpg
    caption:


---


<br>
<br>

<!-- <h2>S4rc4</h2>
<ul class="gallery">
  {% for photo in page.sarca %}
    <li style="background-image: url('{{ site.baseurl }}{{ photo.image | resize: "800x800>" }}')"><a title="{{ photo.caption }}" href="{{ site.baseurl }}{{ photo.image }}" data-id="#{{ photo.image | slugify }}" data-caption="{{ photo.caption }}"></a></li>
  {% endfor %}
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
</ul> -->



<!-- <h2>D3m0ux</h2>
<ul class="gallery">
  {% for photo in page.demoux %}
    <li style="background-image: url('{{ site.baseurl }}{{ photo.image | resize: "800x800>" }}')"><a title="{{ photo.caption }}" href="{{ site.baseurl }}{{ photo.image }}" data-id="#{{ photo.image | slugify }}" data-caption="{{ photo.caption }}"></a></li>
  {% endfor %}
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
</ul> -->



<!-- <h2>Pl3xus</h2>
<ul class="gallery">
  {% for photo in page.plexus %}
    <li style="background-image: url('{{ site.baseurl }}{{ photo.image | resize: "800x800>" }}')"><a title="{{ photo.caption }}" href="{{ site.baseurl }}{{ photo.image }}" data-id="#{{ photo.image | slugify }}" data-caption="{{ photo.caption }}"></a></li>
  {% endfor %}
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
</ul> -->


<!-- <h2>D3l0r3s</h2>
<ul class="gallery">
  {% for photo in page.delores %}
    <li style="background-image: url('{{ site.baseurl }}{{ photo.image | resize: "800x800>" }}')"><a title="{{ photo.caption }}" href="{{ site.baseurl }}{{ photo.image }}" data-id="#{{ photo.image | slugify }}" data-caption="{{ photo.caption }}"></a></li>
  {% endfor %}
  <li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
</ul> -->


<!-- <br>
<br> -->

<!-- <h2>Fine art</h2> -->
<ul class="gallery">
	{% for photo in page.photos_fine_art %}
		<li style="background-image: url('{{ site.baseurl }}{{ photo.image | resize: "800x800>" }}')"><a title="{{ photo.caption }}" href="{{ site.baseurl }}{{ photo.image }}" data-id="#{{ photo.image | slugify }}" data-caption="{{ photo.caption }}"></a></li>
	{% endfor %}
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
</ul>

<!-- <br>
<br>
<br> -->


<!-- <h2>Cinematic</h2>
<ul class="gallery">
  {% for photo in page.photos_cinematic %}
    <li style="background-image: url('{{ site.baseurl }}{{ photo.image | resize: "800x800>" }}')"><a title="{{ photo.caption }}" href="{{ site.baseurl }}{{ photo.image }}" data-id="#{{ photo.image | slugify }}" data-caption="{{ photo.caption }}"></a></li>
  {% endfor %}
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
</ul> -->

<div class="overlay">
	<a href="#" class="close">&#10005;</a>
	<a class="prev">&lsaquo;</a>
	<a class="next">&rsaquo;</a>
	<p class="caption"></p>
	<div class="image-wrapper">
		<img>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  if (window.location.host === "app.cloudcannon.com") {
    $('.gallery').find("a").click(function(e) {
      e.preventDefault();
      return false;
    });
  } else {
    var script = document.createElement("script");
    script.src = "{{ site.baseurl }}/js/lightbox.js";
    document.body.appendChild(script);
  }
</script>
